<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Subscription vuex-aspect example</title>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script type="text/javascript" src="https://unpkg.com/vuex"></script>
  <script type="text/javascript" src="../../dist/vuex-aspect.umd.js"></script>
  <link type="text/css" rel="stylesheet" href="./styles.css"/>
</head>
<body>
<div id="app">
  <h2>Vuex Aspect Subscription Example</h2>
  <p>
    A server subscription push is simulated by a random timeout between 100ms and 2s. UserIDs <code>(x+2)%4 = 0</code>
    result in errors.
  </p>
  <div class="button-group">
    <button @click="incrementUser">Next UserID</button>
    <button @click="toggleConsumption">{{consume ? "Unmount consumer component" : "Mount consumer component"}}</button>
  </div>
  <table>
    <tbody>
    <tr>
      <td><pre><code>user$error</code></pre></td>
      <td><pre><code>{{user$error || "undefined"}}</code></pre></td>
    </tr>
    <tr>
      <td><pre><code>user</code></pre></td>
      <td><pre><code>{{user || "undefined"}}</code></pre></td>
    </tr>
    <tr>
      <td><pre><code>consumer</code></pre></td>
      <td><consumer v-if="consume"></consumer></td>
    </tr>
    </tbody>
  </table>
</div>

<script type="text/javascript" src="./script.js"></script>
</body>
</html>